body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: linear-gradient(90deg, #0d6efd, #6610f2);
}


/* Navbar Styles */
#nav-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.menu-left {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.div-title-nav {
  position: relative;
  left: 60px;
}

.div-links-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  left: 100px;
}



/* Container Styles */
.container {
}

.container-primary {
  width: 100%;
  height: 98vh;
}

.content {

}

