/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  overflow-x: hidden;
  background-color: red;
} */

/* zerando espacamento padrao que o bootstrap coloca */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}



/* Navbar Styles */
#navbar {
  width: 100%;
  height: 60px;
  padding: 5px 10px 5px 10px;
}

#nav-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.menu-left {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 15px;
}

.div-title-nav {
  position: relative;
  left: 40px;
}

.div-links-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  left: 100px;
}

.div-links-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin: 0 15px 0 15px;
}



/* Containers Styles */

/* Main Container */
#container {
  width: 100%;
  background-color: red;
  box-sizing: border-box;
}

#container-primary {
  height: 98vh;
  display: flex;
  background-image: linear-gradient(90deg, #0d6efd, #6610f2);
}

#aside-sobre {
  width: 50%;
  height: 100%;
  position: relative;
  left: 50px;
  top: 70px;
  align-items: center;
  color: white;
  padding: 20px;
}





/* Container secondary */

#container-secondary {
  width: 100%;
  height: 100vh;
  background-color: beige;
}

