/* Navbar Styles */
#nav-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.menu-left {
  width: 50vw;
  display: flex;
  align-items: center;
  gap: 15px;
}

.div-title-nav {
  position: relative;
  left: 60px;
}

.div-links-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  left: 100px;
}



/* Container Styles */
.Container {

}

